#movies img, #movie img{
    width: 100%
}

@media(min-width:960px){
    #movies .col-md-3 .well{
    height:390px;
}

#movies .col-md-3 img{
    height:240px
}
}

@media(max-width:960px){
.ttl{
    text-align:center;
}
}


h3{
    padding:0px 0px 5px 0px;
    margin:0;
}

